
.experience-page{
    background-color: #E0E9F6;
}

.experience-card {
    border-radius: 50px;
    margin: 25px;
    box-shadow: -15px 10px 4px rgb(0, 0, 0, 25%);
}

.experience-card-header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.experience-card-description{
    padding: 0px 20px 10px 20px;
    margin: 0px 5%;
    margin-bottom: 20px;
}

.experience-card-footer{
    background-color: #201F22;
    border-radius: 40px;
}

.experience-card-footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.image-wrapper{
    margin: 0px 10px;
}